/*
Originally built from:
https://forum.vivaldi.net/topic/82900/collapsing-vertical-tabs-that-expand-on-hover-with-and-without-floating-tabs
 */

#main .inner div.tabbar-wrapper div.tabbar-wrapper:hover,
#main .inner div.tabbar-wrapper div.tabbar-wrapper div:is(#tabs-tabbar-container):hover {
    width: 222px !important;
    transition: width 0.25s;
}

#main .inner div.tabbar-wrapper div.tabbar-wrapper:not(:hover),
#main .inner div.tabbar-wrapper div.tabbar-wrapper div:is(#tabs-tabbar-container):not(:hover),
#main .inner > div:is(.tabbar-wrapper) > div:is(.tabbar-wrapper) > div:is(.tabs-left, .button-toolbar.workspace-popup.tabbar-workspace-button):not(:hover){
    width: 60px !important;
    transition: width 0.25s;
}


#main .inner > div:has(#tabs-tabbar-container:is(.left, .right)) {
    position: absolute;
    z-index: 2;
    opacity: 1;
    background-color: var(--colorBg);
    height: 100%;
}

#main .inner > #webview-container {
    margin-left: 60px;
}

/* Hide the down arrow on workspaces */
#main .inner span.button-toolbar-menu-indicator {
    display: none;
}